:import {
    -st-from: "../customizable-button/customizable-button.st.css";
    -st-default: CustomizableButton;
}

.root {
    -st-states: selected(enum(layeredButton, noteButton, gradientButton));
    font-size: large;
}

.description {}

.buttonBox {}

.layeredButton {
    -st-extends: CustomizableButton;
}

.noteButton {
    -st-extends: CustomizableButton;
}

.gradientButton {
    -st-extends: CustomizableButton;
}