:import {
    -st-from: "../customizable-button/customizable-button.st.css";
    -st-default: CustomizableButton;
}

.root {
    font-size: large;
}

.description {}

.buttonBox {}

.layeredButton {
    -st-states: selected;
    -st-extends: CustomizableButton;
}

.noteButton {
    -st-states: selected;
    -st-extends: CustomizableButton;
}

.gradientButton {
    -st-states: selected;
    -st-extends: CustomizableButton;
}